<html>
  <head>
	<title>Simple Example</title>
  </head>
  <body>
	<!-- Main Content -->
	@RenderBody()
	<h4>Hello from the _layout.cshtml template!</h4>
	<!-- using PARAM2, note that this is NOT case sensitive -->
	<p>Hello, param2: @ViewBag.param2</p>
  </body>
</html>